@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caprasimo&family=Monoton&family=Oleo+Script:wght@400;700&family=Playwrite+CU+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap');
*{
    padding: 0;
    text-decoration: none;
}
body {
    font-size: 15pt;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: #0f0f0f;
    color: #fff;
    gap: 10px;
}
.tree{
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50pt;
}
.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 30vh;
    border: 5px solid #2B3036;
    border-radius: 10px;
    background: #0C0F14;
    padding: 35px;
     /* add breathing space 
    overflow: hidden;*/
    overflow: hidden;
    height: auto;
}
.container nav{
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}
.profile{
    border: 1px solid #2B3036;
    border-radius: 50%;
    width: 50px;
    padding: 5px 5px;
}
.container ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container ul li{
    padding: 15px 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    background: #2B3036;
    color: #F8FAF9;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.icons{
    width: 50px;
    height: 50px;
    filter: invert(100%) sepia(0%) saturate(7475%) hue-rotate(20deg) brightness(100%) contrast(111%);
}
 @media(max-width: 767px){
    html{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .tree{
        font-size: 20pt;
    }
    .container{
        width: 70%;
        font-size: 12pt;
        text-wrap: nowrap;
        height: auto;
    }
    .container nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: -7px;
        border-radius: 10px;
    }
    .profile{
        width: 40px;
        height: 40px;
}
    .container ul li{
        padding: 10px 5px;
        margin-left: -7px;
    }
    .icons{
        width: 30px;
        height: 30px;
    }
 }
 @media(min-width: 992px){
    body{
        min-height: 90vh;
        height: auto;
    }
 }
 @media(min-width: 1200px){
     body{
         min-height: 90vh;
         height: auto;
     }
 }
